@use "../../mixins" as mixins;
@use "../../functions" as funcs;
@use "../../variables" as vars;

.login-page-container {
    @include mixins.grid($columns: 65% auto);
    width: 100%;
    height: 100%;

    & > .login-page__image {
        @include mixins.setBackgroundImage("../../../images/bg-1.jpg");
        position: relative;

        & > .login-page__image__wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            

            & > h2, span{
                color: #FFFFFF;
                font-weight: 400;
            }
        }
    }

    & > .login-page__wrapper {
        @include mixins.flex(column, center, center, 20px);
    }
}

@media screen and (max-width: 768px) {
    .login-page-container {
        @include mixins.grid($columns: 100%, $rows: 45% auto);
    }
}
