.point-review-summary-container{
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: 8px;
}

.point-review-summary-container-media{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 36px;

}

p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}