.categoryComp-contiainer{
    padding: 7px;

    background: rgba(28, 79, 216, 0.15);
    border-radius: 10px;
        
}

.categoryComp-contiainer > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #1C4FD8;
}