.single-review-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.17);
    border-radius: 10px;
}

.single-review-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.single-review-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.single-review-user-data{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.single-review-user-data >h3{
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    display: flex;

    color: #000000;
}

.single-review-user-data >p{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #909090;
}

.single-review-comment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 10px;
}

.single-review-user > img{
    width: 48px;
    height: 48px;
    /* border-radius: 50%; */
}