.create-point-principal{
    display: flex;
    flex-direction: column;
}

.create-point-footer{
    padding-top: 150px;
}

.main-create-point{
    display: flex;
    flex-direction: row;
}

.create-point-aside{
    padding-top: 40px;
    padding-left: 50px;
    background-color: coral;
}

.create-point-form{
    padding-top: 60px;
    background-color: aqua;
}

.create-point-map{
    padding-top:  163px;
    padding-right: 100px;
    background-color: yellow;
}

