.single-point-details-container{
    width: 100%;
    height: 100%;
}
.single-point-details__details{
    background-color: aqua;
}

.single-point-details__reviews{
    background-color: darkgoldenrod;
}

.single-point-details__addReview{
    background-color: chartreuse;
}

.single-point-details__reviewListing{
    background-color: darkkhaki;
}