.single-point-details-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.single-point-details__details{
    padding-top: 40px;
    width: 912px;
    background-color: aqua;
}

.single-point-details__reviews{
    width: 912px;
    background-color: darkgoldenrod;
}

.single-point-details__addReview{
    width: 912px;
    background-color: chartreuse;
}

.single-point-details__reviewListing{
    width: 912px;
    background-color: darkgoldenrod ;
}