@use "../../mixins" as mixins;

.user-account-banner-container{
    @include mixins.flex(flex-end, flex-start, flex-end, 5px);
    border-bottom-left-radius: 20px;
    position: relative;
    max-height: 260px;
    padding: 20px;
    overflow: hidden;

    // Imagen de fondo
    & > .user-account-banner__background{
        z-index: 0;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden; // Ajustar imagen

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // Overlay del banner para generar contraste
    & > .user-account-banner__overlay{
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: .3;
    }

    //TODO: Perfil con z-index 2
    & > .user-account-profile-item__wrapper{
        z-index: 2;
    }
}