.account-layout-container {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "aside banner"
        "aside content"
        "aside content";
    gap: 10px;

    // Sidebar
    & > .account-layout__aside {
        grid-area: aside;
        grid-row: 1 / 8; // Todas las filas
        background: blue;
        height: 100%;
    }

    & > .account-layout__banner,
    & > .account-layout__body{
        width: 100vw;
        height: 100%;
    }

    // Banner
    & > .account-layout__banner {
        grid-area: banner;
        grid-row: 1 / 3; // 1/4 parte de las filas
        background-color: green;
    }

    // Contenido principal
    & > .account-layout__body {
        grid-area: content;
        grid-row: 3 / 8; // 3/4 partes de las filas
        background-color: red;
    }
}
