@use "../../mixins" as mixins;

.account-layout-container {
    @include mixins.flex(row, flex-start, flex-start, 10px);
    width: 100%;
    gap: 40px;

    & > .account-layout__body{
        width: 100%;
        height: 100%;
        & > .account-layout__banner{
            height: 400px;
        }
    }
}
