@use "../../../variables" as vars;
@use "../../../mixins" as mixins;


.base-popup-modal{
    @include mixins.flex(column, flex-start, center, 10px);
    width: 384px;
    max-width: 384px;
    height: 357px;
    border-radius: vars.$border-radius;
    background-color: rgba(237, 242, 244, 0.65);
    backdrop-filter: blur(7.5px);
    isolation: isolate;
    padding: 15px;

    // Estilos imagen del punto
    & > .base-popup-modal__head{
        border-radius: vars.$border-radius;
        overflow: hidden;
        position: relative;
        
        & > img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    // Estilos cuerpo del popup (Contiene foto de perfil y detalles del punto de interes)
    & > .base-popup-modal__body{
        @include mixins.flex(row, space-between, center, 0);
        width: 100%;

        // Iconos de compartir y favorito
        & > .popup-modal-social-icons{
            @include mixins.flex(row, center, center, 10px);
        }
    }

    & > .base-popup-modal__footer{
        @include mixins.flex(row, space-between, center, 0);
        width: 100%;

        & > .popup-model-footer__contact-info{
            @include mixins.flex(column, center, flex-start, 0);

            & > p{
                &:first-child{
                    font-size: 1rem;
                }
                margin: 0;
            }
        }
    }
}