.comercialbox-total{
    background-color: rgba(255,255,255,0.59);
    backdrop-filter: blur(5px);
    border-radius: 40px;
}
.comercialbox-title{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.comercialbox-title-left{    
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
    line-height: 72px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;

    color: #2B2D42;
}

.comercialbox-title-rigth{
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #2B2D42;
    padding-left: 10px;
    padding-top: 15px;
}
.comercialbox-slogan{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: #000000;

}

.comercialbox-discount{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    color: #2B2D42;

    padding-left: 22px;
    padding-bottom: 30px;
}

.comercialbox-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
}
