.add-new-point-link-container{
    background-color: white;
    padding-top: 40px;
}
.add-new-point-link-button{
    width: 908px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.add-new-point-link-button-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.add-new-point-link-button-text>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

button{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}