h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    
}

.single-details-details{
    padding-top: 19px;
    display: flex;
    flex-direction: column;
    gap : 14px;
}

.single-details-details-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 7px;
}

.single-details-details-direction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 9px;
}

.single-details-details-coord{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.single-details-details-coord-dir{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.single-details-details-category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.single-details-details-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.single-details-details-user-saved{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}