@use "../../mixins" as mixins;
@use "../../functions" as funcs;

.single-filter-container {
    @include mixins.flex(column, center, center, 10px);
    width: 142px;
    max-width: 100%;
    opacity: .4;
    transition: all 100ms cubic-bezier(.17,.67,.84,.41);
    position: relative;

    & > .single-filter-container__icon{
        width: 32px;
        height: 32px;
    }

    &:hover{
        opacity: .9;
        cursor: pointer;

        &:after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 50%;
            height: 2px;
            transform: translateX(50%);
            background-color: funcs.color(tertiary, base);
            opacity: .2;
        }
    }
}

.single-filter-container.category-filter--active{

}
