/**
 * Contenedor flex personalizado. Por defecto, se asignará un gap de 20px.
 */
@mixin flex($direction: "row", $justify, $align, $gap: "20px") {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

/**
 * Contenedor grid personalizado. Por defecto, se asignará un gap de 20px.
 */
@mixin grid($rows: 1fr, $columns, $gap: 20px) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    gap: $gap;
}

/**
 * Establece una imagen de fondo.
 * @param {string} $image - Ruta de la imagen.
 */
@mixin setBackgroundImage($image) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
