@use "variables" as vars;
@use "functions" as funcs;

/**
 * Contenedor flex personalizado. Por defecto, se asignará un gap de 20px.
 */
@mixin flex($direction: "row", $justify, $align, $gap: "20px") {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

/**
 * Contenedor grid personalizado. Por defecto, se asignará un gap de 20px.
 */
@mixin grid($rows: 1fr, $columns, $gap: 20px) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    gap: $gap;
}

/**
 * Establece una imagen de fondo.
 * @param {string} $image - Ruta de la imagen.
 */
@mixin setBackgroundImage($image) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/**
 * En función del tipo de botón, establece el color de fondo y el borde.
 * @param {string} $color - Color del botón.
 * @param {string} $type - Tipo de botón. Por defecto, solid.
 */
@mixin customButton($color, $textColor: #ffffff, $type: "solid", $width: 128px, $height: 38px, $borderRadius: 100px) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.15s ease;

    &:disabled {
        cursor: not-allowed;
    }

    @if $type == "solid" {
        background-color: $color;
        color: $textColor;
        border: none;

        &:hover {
            background-color: darken($color, 3%);
        }

    } @else if $type == "outline" {
        background-color: transparent;
        color: $color;
        border: 2px solid $color;

        &:hover {
            background-color: $color;
            color: $textColor;
        }
    }
}

/**
 * Estilos comunies para inputs (input, select).
 */
@mixin commonInputStyles() {
    width: 100%;
    height: vars.$input-height;
    border-radius: vars.$input-border-radius;
    padding: 0 vars.$input-padding-x;
    background-color: funcs.color(dark_grey, high_light);
    outline: none;

    &:focus {
        box-shadow: 0 0 0 2px #e1e0e06f;
    }
}

@mixin commonInputLabelStyles() {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: funcs.color("black", "base");
}
