

.about-title{
    position: absolute;
    width: 202px;
    height: 31px;
    left: 619px;
    top: 121px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
}
.about-slogan{
    position: absolute;
    width: 736px;
    height: 136px;
    left: 352px;
    top: 121px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
}