

.about-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    left: 619px;
    top: 121px;    
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
}
.about-slogan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 136px;
    left: 352px;
    top: 121px;

    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
}
.about-comercialPosition{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1148px;
    height:491px;
    left: 146px;
    top: 236px;

    background-image: url("../../../images/about-image.png");
    border-radius: 40px;
}

.about-pageInfoPosition{

    
    width: 814px;
    height: 350px;
    left: 450px;
    top: 793px;
}