.friend-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    padding: 0px;
    gap: 10px;
    
}
.friend-list-comp{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 8px;
    border: 1px solid #909090;
    border-radius: 12px;
}

.friend-list-comp > div{
    border: 0px solid #909090;
}

div > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
}