@use "../../mixins" as mixins;
@use "../../functions" as funcs;
@use "../../variables" as vars;


.base-text-input-container{
    @include mixins.flex(column, flex-start, flex-start, 3px);
    width: 100%;

    & > label {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: funcs.color("dark_grey", "base");
    }

    & > input {
        @include mixins.commonInputStyles();
        border: 2px solid funcs.color("light_gray", "base");
    }

}