@use "../../../mixins" as mixins;
@use "../../../functions" as funcs;
@use "../../../variables" as vars;

.base-textarea-container {
    @include mixins.flex(column, flex-start, flex-start, 3px);
    width: 100%;

    & > label {
        @include mixins.commonInputLabelStyles();
    }

    & > textarea {
        @include mixins.commonInputStyles();
        min-height: 100px;
        height: 150px;
        border: 2px solid funcs.color("light_gray", "base");
        resize: none;
        padding: 10px;

        &::placeholder{
            color: funcs.color("light_gray", "dark");
            font-weight: 400;
            font-size: 0.9rem;
        }

        &:invalid{
            border: 2px solid funcs.color("error", "base");
            background-color: funcs.color("error", "hight_light_alfa");
        }

        &:focus{
            border: 2px solid funcs.color("black", "base");
        }
    }
}
