@charset "UTF-8";
/**
 * -----------------------
 * -- PALETA DE COLORES --
 * -----------------------
 * 
 * - base. Color del elemento en su estado normal.
 * - hightlight. Color del elemento cuando se dispara una acción u evento asociado a éste.
 * - dark. Color de contraste, alternativo al color base.
 */
/**
 * Obtiene el color de la paleta de colores definida en el fichero variables.scss.
 * La paleta de colores se define como un mapa.
 * 
 * - $base hace referencia al tipo de color en la paleta: primary, secondary, tertiary...
 * - $tint hace referencia al tinte a aplicar. Ejemplo: hightligh si el componente se encuentra 
 * en modo hover o similar.
 */
/**
 * Obtiene el tamaño de la variable $sizes del fichero variables.scss
 * 
 * - $type: Por ejemplo, profileImage.
 * - $size: Si se especifican varios tamaños, es el tamaño a seleccionar. 
 */
/**
 * -----------------------
 * -- PALETA DE COLORES --
 * -----------------------
 * 
 * - base. Color del elemento en su estado normal.
 * - hightlight. Color del elemento cuando se dispara una acción u evento asociado a éste.
 * - dark. Color de contraste, alternativo al color base.
 */
/**
 * Contenedor flex personalizado. Por defecto, se asignará un gap de 20px.
 */
/**
 * Contenedor grid personalizado. Por defecto, se asignará un gap de 20px.
 */
/**
 * Establece una imagen de fondo.
 * @param {string} $image - Ruta de la imagen.
 */
/**
 * En función del tipo de botón, establece el color de fondo y el borde.
 * @param {string} $color - Color del botón.
 * @param {string} $type - Tipo de botón. Por defecto, solid.
 */
/**
 * Estilos comunies para inputs (input, select).
 */
.button-blue {
  width: 128px;
  height: 38px;
  border-radius: 100px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.15s ease;
  background-color: #1c4fd8;
  color: #FFFFFF;
  border: none;
}
.button-blue:hover {
  background-color: #1b4ccf;
}

.button-blue-outlined {
  width: 128px;
  height: 38px;
  border-radius: 100px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.15s ease;
  background-color: transparent;
  color: #1c4fd8;
  border: 2px solid #1c4fd8;
}
.button-blue-outlined:hover {
  background-color: #1c4fd8;
  color: #FFFFFF;
}

.button-blue-rounded {
  background-color: #1c4fd8;
  width: 128px;
  height: 38px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button-blue-rounded:hover {
  background-color: #3361dc;
}

.button-disabled {
  width: 128px;
  height: 38px;
  border-radius: 100px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.15s ease;
  background-color: #D9D9D9;
  color: "outline";
  border: none;
}
.button-disabled:hover {
  background-color: #d4d4d4;
}

.button-red {
  background-color: red;
  width: 210px;
  height: 57px;
  border: none;
  border-radius: 100px;
  color: #FFFFFF;
  font-size: 24px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-red-form {
  background-color: red;
  width: 150px;
  height: 38px;
  border: none;
  border-radius: 100px;
  color: #FFFFFF;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-grey-form {
  background-color: #B9B9B9;
  width: 150px;
  height: 38px;
  border: none;
  border-radius: 100px;
  color: #FFFFFF;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-grey {
  background: transparent;
  width: 210px;
  height: 57px;
  border-radius: 100px;
  color: black;
  border-color: black;
  font-size: 24px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}/*# sourceMappingURL=BaseButton.css.map */