.create-form-main{
    background-color: aquamarine;
    
}

.create-form-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

.create-form-info{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.create-form-buttons{
    display: flex;
}