@use "../../functions" as funcs;

.base-message-container{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 20px;
    border-radius: 8px;
}

.base-message__success{
    background-color: funcs.color("success", "hight_light_alfa");
    font-size: 0.9rem;
    font-weight: 400;
    color: funcs.color("success", "dark");
}

.base-message__error{
    background-color: funcs.color("error", "hight_light_alfa");
    font-size: 0.9rem;
    font-weight: 400;
    color: funcs.color("error", "dark");
}