name: CI for LOMAP ES5A

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['**']
  
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags' 

jobs:
  # unit-tests:
  #   timeout-minutes: 10
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #     with:
  #       fetch-depth: 0
  #   - uses: actions/setup-node@v3
  #     with:
  #       node-version: 18
  #   - run: npm --prefix webapp ci --legacy-peer-deps
  #   - run: npm --prefix webapp test --coverage --watchAll
  #   - name: Analyze with SonarCloud
  #     uses: sonarsource/sonarcloud-github-action@master
  #     env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  e2e-tests:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - run: npm --prefix webapp install --legacy-peer-deps
    - run: npm --prefix webapp run test:e2e --coverage --watchAll
